<header class="header-component container-xl container-fluid d-flex bg-dark">
  <div class="header-div container-lg d-flex">
    <img class="header-img text-light" src="" alt="Brainss brueeh">
    <h2 class="header-title text-light">Apocalipse Zumbi</h2>
  </div>
  <nav class="header-nav container-lg d-flex justify-content-evenly">
    <a class="header-anchor text-info" href="">Home</a>
    <a class="header-anchor text-info" href="">Sobre mim</a>
    <a class="header-anchor text-info" href="">Contato</a>
  </nav>
</header>
